{xyz.zcaudate/fx.gnuplot
 {:description "blocks for platform building"
  :include [[fx.gnuplot :complete]]}
  
 xyz.zcaudate/fx.graphviz
 {:description "blocks for platform building"
  :include [[fx.graphviz :complete]]}
  
 xyz.zcaudate/fx.gui
 {:description "javafx no dom" 
  :include [[fx.gui :complete]]
  :dependencies
  [eu.lestard/advanced-bindings
   org.fxmisc.easybind/easybind
   org.openjfx/javafx-base
   org.openjfx/javafx-controls
   org.openjfx/javafx-web
   org.openjfx/javafx-graphics
   org.openjfx/javafx-media
   org.openjfx/javafx-fxml]}
  
 xyz.zcaudate/fx.d3
 {:description "blocks for platform building"
  :include [[fx.d3 :complete]]
  :bundle [{:path "resources" :include ["assets/fx.d3"]}]}
  
 xyz.zcaudate/fx.prettier
 {:description "blocks for platform building"
  :include [[fx.prettier :complete]]
  :bundle [{:path "resources" :include ["assets/fx.prettier"]}]}
  
 xyz.zcaudate/fx.vega
 {:description "blocks for platform building"
  :include [[fx.vega :complete]]
  :bundle [{:path "resources" :include ["assets/fx.vega"]}]}

 xyz.zcaudate/rt.browser
 {:description "wrapper for chrome-devtools" 
  :include [[rt.browser :complete]]}
  
 xyz.zcaudate/rt.glsl
 {:dertion "env for glsl"
  :include [[rt.glsl :complete]]
  :bundle [{:path "resources" :include ["assets/rt.glsl"]}]}

 xyz.zcaudate/rt.javafx
 {:description "webview runtime"
  :include [[rt.javafx :complete]]
  :bundle [{:path "resources" :include ["assets/rt.javafx"]}]}
  
 xyz.zcaudate/rt.jocl
 {:description "wrapper for org.jocl"
  :include [[rt.jocl :complete]]
  :dependencies [org.jocl/jocl]}}
