{"clojars"  
 {:id       "clojars"
  :url      "https://clojars.org/repo"
  :authentication {:username "zcaudate"
                   :password "CLOJARS_90ac94b11b6626927911742b2b95aa3a9296fb2589247347227bc3ba2a9a"}}
                 
 "github"  
 {:id       "github"
  :url      "https://maven.pkg.github.com/zcaudate/foundation"
  :authentication {:username "zcaudate"
                   :password "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"}}

 "statstrade"  
 {:id       "statstrade"
  :url      "https://maven.statstrade.io/"
  :authentication {:username "zcaudate"
                   :password "NlDd/AxFfCKnL/RR1BggZahN1nX4wtJhdTGFoWvQDmACjW7gfC4nNgeMfLUIORVr"}}}
